version: '3'

services:

  apache-frontend:
    container_name: apache
    build:
      context: ./apache
      dockerfile: Dockerfile
    ports:
      - "80:80" 
    volumes:
      - ./apache/reverse-proxy.conf:/usr/local/apache2/conf/reverse-proxy.conf
    depends_on:
      - php-backend

  php-backend:
    container_name: php
    build:
      context: ./php
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html

  mysql-database:
    container_name: bd
    build:
      context: ./database
      dockerfile: Dockerfile
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

